$primary_color: #f2c579;
$secondary_color: #caf279;
$terceary_color: #9AA0A8;
$quaternary_color: #229F44;
$quinary_color: #BEFFC7;

$background_color: white;
$background_image_url: "/img/45degreee_fabric.webp";

$spacing_small: 8px;
$spacing_medium: 16px;
$spacing_large: 24px;

$primary: $primary_color;