.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: $spacing_small;
  animation-name: zoomIn;
  animation-duration: 2s;

  grid-area: main;
  background-color: $background_color;
  background-image:url($background_image_url);
  background-repeat: repeat;
  
  & > header > h1 {
    font-size: 3rem;
    color: $primary_color;
    text-align: center;
    margin: 0;
    padding: $spacing_medium;
  }
  
}

@media only screen and (max-width: 400px) {
  .main{
  
    padding: $spacing_medium;
    margin: 0;
  }
}

  