.video {
    &__frame {
        height: 100%;
        width: 100%;
        
    }
}

@media only screen and (max-width: 400px) {
    .video {
        &__frame {
            height: 100%;
            width: 100%;
        }
        
    }
}